$button-sm-height: 38px;
$button-sm-padding-horizontal: 20px;
$button-sm-border-radius: 5px;
$button-sm-font-size: 16px;

$button-height: 42px;
$button-padding-horizontal: 30px;
$button-border-radius: 5px;
$button-font-size: 16px;

$button-lg-height: 52px;
$button-lg-padding-horizontal: 35px;
$button-lg-border-radius: 5px;
$button-lg-font-size: 18px;

.button {
  width: auto;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: rem($button-border-radius);
  background: none;
  box-sizing: border-box;
  appearance: none;
  outline: 0;
  font-family: $font-family-base;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  @include button-size($button-height, $button-padding-horizontal, $button-font-size);

  @at-root a#{&} {
    text-decoration: none;
  }

  .not-touch & {
    transition: background-color .2s ease, border-color .2s ease, box-shadow .2s ease, color .2s ease;
  }

  @at-root #{&}--disabled,
  &[disabled] {
    cursor: default;
  }

  &.button--outline {
    background: transparent;
  }

  &.button--alphaOutline {
    background: transparent;
  }
}


/*========================================
// Sizes
========================================*/

.button--sm {
  @include button-size($button-sm-height, $button-sm-padding-horizontal, $button-sm-font-size);
  border-radius: rem($button-sm-border-radius);
}

.button--lg {
  @include button-size($button-lg-height, $button-lg-padding-horizontal, $button-lg-font-size);
  border-radius: rem($button-lg-border-radius);
}


/*========================================
// Types
========================================*/

// Block
.button--block {
  width: 100%;
  display: block;
  @include ellipsis;
}

.button--rect {
  border-radius: 0;
}

.button--rounded {
  border-radius: rem(100px);
}

.button--shadow {
  box-shadow: rem(2px) rem(2px) rem(4px) rgba($color-black, .18);
}

// White
.button--white {
  @include button-style($color-white, $color-blue, $color-blue);

  &:hover {
    background-color: lighten($color-blue, 44%);
  }

  &.button--outline {
    @include button-outline($color-white, $color-white, #2672de, #2672de, $color-white);
  }

  &.button--alphaOutline {
    @include button-outline(rgba($color-white, .4), $color-white, #2672de, #2672de, $color-white);
  }

  &.button--disabled,
  &[disabled] {
    background-color: lighten(#a2b2c4, 8%);
  }
}

// Blue
.button--blue {
  @include button-style($color-blue, $color-white, $color-white);
  @include font-smoothing;

  &.button--disabled,
  &[disabled] {
    background-color: lighten(#a2b2c4, 8%);
  }

  &.button--outline {
    @include button-outline($color-blue, $color-blue, $color-blue, $color-blue, $color-white);
    background-color: transparent;
  }
}

.button--gray {
  $color-gray: #c1c1c1;
  @include button-style($color-gray, $color-white, $color-white);

  &.button--disabled,
  &[disabled] {
    opacity: .8;
  }

  &.button--outline {
    @include button-outline($color-gray, $color-base, $color-blue, $color-blue, $color-white);
    background-color: transparent;
  }
}

.button--send {
  min-width: rem(98px);
}