%container {
  margin-right: auto;
  margin-left: auto;
  padding-right: rem($container-gap / 2);
  padding-left: rem($container-gap / 2);
}

.container {
  max-width: rem($container-max-width);
  @extend %container;
}

.container-fluid {
  @extend %container;
}