.spinner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  font-family: a;

  &:before {
    content: "";
    display: inline-block;
    border-style: solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotateSpinner .4s linear infinite;
  }
}

// Animation
@keyframes rotateSpinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}