/*========================================
// Base
========================================*/

/*
 You can use any css normalization here
 (for example, https://necolas.github.io/normalize.css/)
*/
@import 'base/reset';


/*========================================
// Vendor: before our settings
========================================*/

/*
 Sample export css file:
 @import './../../node_modules/bootstrap/dist/css/bootstrap-grid.css';
*/


/*========================================
// Iconfont
========================================*/


/*========================================
// Global
========================================*/

@import 'global/functions';
@import 'global/variables';
@import 'global/mixins';
@import 'global/mq-listener';
@import 'global/typography';
@import 'global/layout';
@import 'global/utils';


/*========================================
// Fonts
========================================*/

/*
 Sample export local font:
 @import 'fonts/font';
*/


/*========================================
// Vendor
========================================*/



/*========================================
// Partials
========================================*/

// Blocks
/*
 Uncomment lines below, if you want to use inline svg sprite:
 @import 'partials/svg-store';
 @import 'partials/svg-icon';
*/
@import 'partials/spinner';
@import 'partials/button';

// Sections


// Layout
@import 'partials/container';
@import 'partials/layout';
@import 'partials/header';
@import 'partials/content';
@import 'partials/footer';