// Example
@font-face {
  font-family: 'Font';
  src: url('#{$font-path}/font.woff2') format('woff2'),
       url('#{$font-path}/font.woff') format('woff'),
       url('#{$font-path}/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}