//- Default variables
- var SITE_NAME = 'Project Starter'
- var CURRENT_LANG = 'ru'
- var PAGE_TITLE = 'Project Starter'
- var PAGE_DESCRIPTION = 'Project template for static site (Gulp 4 + Webpack 4)'
- var PAGE_KEYWORDS = 'gulp4, webpack4, es6, sass, pug, svg-icons'
- var PAGE_URL = 'https://github.com/Volosojui/project-starter'
- var PAGE_IMAGE = 'none'

//- Custom variables
block globalVars