include ./../mixins/mixins.pug

block vars

doctype html

html.no-js
  include ./head.pug

  body
    //- SVG store
    .svg-store
      //- inject:svg
      //- endinject
    //- end SVG store

    .layout
      include ./../partials/header.pug

      main.content
        block content

      include ./../partials/footer.pug

    block endBody

    //- Scripts
    script(src=config.JS_BUNDLE)
    //- end Scripts

    include ./analytics/yandex-metrika.pug