extends ./layout/layout.pug

block globalVars

block headEnd

block bodyStart

//- You can use it for custom pages
//- block body

block content
  | Index Page

block bodyEnd

block bodyVendorScripts

block bodyCustomScripts
