@include breakpoint-down($breakpoint-xs-max) {
  .u-xs-hidden {
    display: none !important;
  }
}

@include breakpoint-between($breakpoint-sm-min, $breakpoint-sm-max) {
  .u-sm-hidden {
    display: none !important;
  }
}

@include breakpoint-between($breakpoint-md-min, $breakpoint-md-max) {
  .u-md-hidden {
    display: none !important;
  }
}

@include breakpoint-between($breakpoint-lg-min, $breakpoint-lg-max) {
  .u-lg-hidden {
    display: none !important;
  }
}

@include breakpoint-up($breakpoint-xl-min) {
  .u-xl-hidden {
    display: none !important;
  }
}